    <p class="text-right">
        <a href="/logout">Logout</a>
    </p>
   <div class="panel panel-default">
    <div class="list-group">
        {{#each admins}}
            <div>
                Dept_name:<strong>{{ dept_name }}</strong><br>
                Email_id:<strong>{{ email_id }}</strong><br>
                User_id:<small> {{ head_id }} </small>
                </div>

        {{/each}}
    </div>
<a href="admin/create" class="btn btn-primary">Add a department</a>
</div>
<br>
<div>
<a href="admin/users" class="btn btn-primary">List all Users</a>
</div>
<br>
<div>
<a href="/calendar" class="btn btn-primary">View full calendar</a>
</div>

