<form action="{{ formAction }}" method="post">
    <p class="">
        <a href="/admin">View all departments</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="text" name="dept_name" class="form-control" placeholder="Department Name">
        </div>
        <div class="panel-body">
            <input type="text" name="email_id" class="form-control" placeholder="Email_id">
        </div>
            <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
