    <p class="text-right">
        <a href="/logout">Logout</a>
    </p>
   <div class="panel panel-default">
    <div class="list-group">
        {{#each users}}
                <div>
                Id:{{ id }}<br>
                Email:{{ email }}<br>
                Name: {{ name }} <br>
                Mobile number: {{ mobile_no }}<br>
                </div>

        {{/each}}
    </div>
<a href="/admin" class="btn btn-primary">Departments Page</a>

</div>

