    <p class="text-right">
        <a href="/logout">Logout</a>
    </p>
<div class="panel panel-default">
    <div class="list-group">
        {{#each events}}
            <div href="/dept/{{ event_id }}" class="list-group-item clearfix">
                Event name:<strong>{{ event_name }}</strong>
                Event info:<small> {{ event_info }} </small>
                Event date:<small> {{ event_time }}</small>
                Event venue:<small> {{ event_venue }}</small>
                Event time:<small>{{ event_date }}</small>
                <div class="btn btn-danger pull-right edit-task" data-id="{{ event_name }}" style="margin-left: .5em">Edit</div>
                <div class="btn btn-danger pull-right delete-task" data-id="{{ event_id }}" style="margin-left: .5em">Delete</div>
                
            </div>

        {{/each}}
    </div>
    <a href="dept/create" class="btn btn-primary">Add an event</a>
</div>
<br>
<div>
<a href="dept/user" class="btn btn-primary">Users Page</a>
</div>
<br>
<div>
<a href="/calendar" class="btn btn-primary">View full calendar</a>
</div>
