<form action="{{ formAction }}" method="post">
    <p class="">
        <a href="/dept">View all events</a>
    </p>
<script></script>
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="text" name="event_name" id="event_name" class="form-control" placeholder="event name">
        </div>
        <div class="panel-body">
            <input type="text" name="event_time" id="event_time" class="form-control" placeholder="event date">
        </div>
       <div class="panel-body">
            <input type="text" name="event_date" id="event_date" class="form-control" placeholder="event time">
        </div>

        <div class="panel-body">
            <input type="text" name="event_venue" class="form-control" placeholder="event venue">
        </div>
        <div class="panel-body">
            <input type="text" name="event_info" class="form-control" placeholder="event info">
        </div>
            <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
<p>
<br>
<br>
<a href="/dept/user">Users Page</a>
</p>
