<form action="{{ formAction }}" method="post">
    <p class="">
        <a href="/dept">View all events</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="text" name="event_name" class="form-control" value="{{ name }}" readonly>
        </div>
        <div class="panel-body">
            <input type="text" name="event_time" class="form-control" placeholder="event date">
        </div>
	<div class="panel-body">
            <input type="text" name="event_date" class="form-control" placeholder="event time">
        </div>

        <div class="panel-body">
            <input type="text" name="event_venue" class="form-control" placeholder="event venue">
        </div>
        <div class="panel-body">
            <input type="text" name="event_info" class="form-control" placeholder="event info">
        </div>
            <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
