<form action="{{ formAction }}" method="post">
    <p class="">
        <a href="/dept/user">View all users</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            <input type="text" name="email_id" class="form-control" placeholder="email id">
        </div>
            <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>

<p>
<br>
<br>
<a href="/dept">Events</a>
</p>
