    <p class="text-right">
        <a href="/logout">Logout</a>
    </p>
<div class="panel panel-default">
    <div class="list-group">
        {{#each users}}
            <div href="/dept/{{ user_id }}" class="list-group-item clearfix">
                dept_id:<small>{{ dept_id }}</small><br>
                dept_name:<strong> {{ dept_name }}</strong><br>
                user_id:<small>{{ user_id }}</small><br>
                email_id:<strong>{{ email_id }}</strong>
                <div class="btn btn-danger pull-right delete-task" data-id="{{ user_id }}" style="margin-left: .5em">Delete</div>
                
            </div>

        {{/each}}
    </div>
    <a href="/dept/create2" class="btn btn-primary">Add an user</a>
</div>
<br>
<br>
<div>
	<a href="/dept" class="btn btn-primary">Events Page</a>
</div>

