<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/api/login" method="POST">
            <legend>Login</legend>
            <p class="message text-danger"></p>
            <div class="form-group">
                <label for="login-email">Email</label>
                <input type="email" class="form-control" id="login-email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password" name="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="login-type">Type</label>
                <select name="type">
                  <option value="admin">admin</option>
                  <option value="dept">dept</option>
                  <option value="users">users</option>
                </select> 
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>
            <br>
            <br>
            <a href="/register">Register</a>
        </p>
    </div>
</div>
