<html>    
<p class="text-right">
        <a href="/logout">Logout</a>
    </p>
<div class="panel panel-default">
    <div class="list-group">
        {{#each events}}
           <div>
                <strong>{{ event_name }}</strong>
                <small> {{ event_id }} </small>
<small>{{ event_venue}}</small>
<small>{{ event_time }}</small>
                <div class="btn btn-danger pull-right delete-task" data-id="{{ id }}" style="margin-left: .5em">Delete</div>
            </div>

        {{/each}}
    </div>
</div>
</html>
