<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/api/register" method="POST">
            <legend>Register</legend>
            <p class="message text-danger"></p>
            <div class="form-group">
                <label for="register-name">Name</label>
                <input type="text" class="form-control" id="register-name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="register-email">Email</label>
                <input type="email" class="form-control" id="register-email" name="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="register-password">Password</label>
                <input type="password" class="form-control" id="register-password" name="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <label for="register-mobile">Mobile Number</label>
                <input type="text" class="form-control" id="register-mobile" name="mobile_no" placeholder="Enter your mobile number">
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <p>
            <br>
            <br>
            <a href="/login">Login</a>
        </p>
    </div>
</div>
